<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title th:text="#{healing.house.title}"></title>
	<link th:href="@{/cssandjs/bootstrap.min.css}"></link>
	<script type="text/javascript" th:src="@{/cssandjs/bootstrap.bundle.min.js}"></script>
</head>
<body>
	<div th:fragment="header" class="mb-3">
		<a th:href="@{/}">
			<table width="100%" cellspacing="0" cellpadding="0">
				<tr bgcolor="#A3815B" cellspacing="0" align="center">
					<td width="10%">
						<img alt="Healing House" height="100" width="200" th:src="@{/images/logo.jpg}">
					</td>
					
				</tr>
			</table>
		</a>
		
		<div class="container mt-3">
			<div class="dropdown">
			  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
			    Patients
			  </button>
			  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
			    <li><a class="dropdown-item" th:href="@{/patients/add_patient_form}">New Patient</a></li>
			    <li><a class="dropdown-item" th:href="@{/patients/view_patients}">View Patients</a></li>
			  </ul>
			  
			  
			  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
			    Packages
			  </button>
			  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
			    <li><a class="dropdown-item" th:href="@{/packages/add_package_form}">New Package</a></li>
			    <li><a class="dropdown-item" th:href="@{/packages/view_packages}">View Packages</a></li>
			  </ul>
			</div>
			
			
		</div>
		
		
		
	</div>
		
</body>
</html>