<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title th:text="#{healing.house.title}"></title>
	<link th:href="@{/cssandjs/bootstrap.min.css}"></link>
	<script type="text/javascript" th:src="@{/cssandjs/bootstrap.bundle.min.js}"></script>
</head>
<body>
	<div th:fragment="header">
		<a th:href="@{/}">
			<table width="100%" cellspacing="0" cellpadding="0">
				<tr bgcolor="#A3815B" cellspacing="0">
					<td width="10%">
						<img alt="Healing House" height="100" width="200" th:src="@{/images/logo.jpg}">
					</td>
					<td align="center">
						<h1>HEALING HOUSE</h1>
					</td>
				</tr>
			</table>
		</a>
	</div>
		
</body>
</html>