<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title th:text="#{healing.house.title}"></title>
	<link rel="stylesheet" th:href="@{/cssandjs/bootstrap.min.css}"></link>
	<script type="text/javascript" th:src="@{/cssandjs/bootstrap.bundle.min.js}"></script>
	<style>
	    .error {
	        color: red;
	    }
	</style>
	<script type="text/javascript">
		function setDefaultValues(){
			var pkg = document.getElementById('pkg');
			
			var totalSessions = pkg.options[pkg.selectedIndex].getAttribute("data-totalSessions");
			var price = pkg.options[pkg.selectedIndex].getAttribute("data-price");
			
			document.getElementById('totalSessions').value=totalSessions;
			document.getElementById('price').value=price;
			
		}
		
		function checkFullyPaid(){
			var price=parseInt(document.getElementById('price').value,10);
			var amountPaid=parseInt(document.getElementById('amountPaid').value,10);
			
			if(amountPaid > price){
				alert('Amount Paid cant be more than Price');
			}else if(amountPaid == price){
				document.getElementById('fullyPaid').checked="checked";
			}else if(amountPaid < price){
				document.getElementById('fullyPaid').checked="";
			}
			
		}
		
		function formCheckBeforeSubmit(){
			var pkg = document.getElementById('pkg').value;
			
			var price=parseInt(document.getElementById('price').value,10);
			var amountPaid=parseInt(document.getElementById('amountPaid').value,10);
			var paymentMethod=document.getElementById('paymentMethod').value;
			
			if(amountPaid > price){
				alert('Amount Paid cant be more than Price');
				event.preventDefault();
			}else if(!(amountPaid >=0) ){ //this is to check NaN as NaN is never >= 0
				alert('Please enter paid amount.');
				event.preventDefault();
			}else if(amountPaid > 0 && paymentMethod==""){
				alert('Choose payment method');
				event.preventDefault();
			}else if(amountPaid == price){
				document.getElementById('fullyPaid').checked="checked";
			}else if(amountPaid < price){
				document.getElementById('fullyPaid').checked="";
			}
			
			return true;
		}
		
	</script>
</head>
<body>
	<div th:insert="~{/fragments/header :: header}"></div>
	<div class="container text-center">
		<h2 th:text="${patient.name}"></h2>
		<h6>Patient ID : <span th:text="${patient.id}"/></h6>
		
		<span th:text="${patient.addressLine1}+' '+${patient.addressLine2}+' '+${patient.city}+' '+${patient.state}+' '+${patient.country}"/>
		<div class="row alert alert-secondary mt-2 text-center">
			<div class="col-2" th:text="'BirthDate: '+${patient.dateOfBirth != null? #temporals.format(patient.dateOfBirth,'dd-MMM-yyyy'):''}"></div>
			<div class="col-2" th:text="'Mobile: '+${patient.mobile}"></div>
			<div class="col-3" th:text="'Email: '+${patient.email}"></div>
			<div class="col-3" th:text="'FoundUsBy: '+${patient.howDidYouFindUs}"></div>
			<div class="col-2" th:text="'RegistrationDate: '+${#temporals.format(patient.firstVisitDate,'dd-MMM-yyyy HH:mm')}"></div>
		</div>
		
		<hr/>
		<a class="btn btn-primary mb-2" th:href="@{'/patients/view/'+${patient.id}}">Patient Details</a>
		<a class="btn btn-primary mb-2" onclick="history.go(-1)">Back</a>
		<h4 class="mb-3">New Treatment</h4>
		
		<form th:action="@{/treatment/select_treatment}" th:object="${treatment}" th:method="post">
			<div class="table border border-3 rounded">
				
				<div class="row mb-3 mt-3 me-2">
					<div class="col-2">
						<label>Treatment For</label>
					</div>
					<div class="col-10">
						<input class="form-control" type="text" th:field="*{treatmentFor}">
					</div>
					
				</div>
				
				
				<div class="row mb-3 mt-2 me-2">
					<div class="col-2">
						<label>Package</label>
					</div>
					<div class="col-4">
						<select class="form-control" th:field="*{packageId}" th:onchange="setDefaultValues()" id="pkg">
							<option value="">Choose a package</option>
							<option th:each="package : ${all_packages}" th:value="${package.id}" th:text="${package.name}" th:data-totalSessions="${package.numOfSessions}" th:data-price="${package.totalFees}">
							</option>
						</select>
					</div>
					
					<div class="col-2">
						<label>Total Sessions</label>
					</div>
					<div class="col-4">
						<input class="form-control" type="number" th:field="*{totalSessions}" id="totalSessions">
					</div>
					
					
				</div>
				
				<div class="row mb-3 me-2">
					<div class="col-2">
						<label>Price</label>
					</div>
					<div class="col-4">
						<input class="form-control" type="number" th:field="*{price}" id="price">
					</div>
					
					
					<div class="col-2">
						<label>Amount Paid</label>
					</div>
					<div class="col-4">
						<input class="form-control" type="number" th:field="*{amountPaid}" id="amountPaid" th:onchange="checkFullyPaid()">
					</div>
					
				</div>
				
				
				<div class="row mb-3 me-2">
					<div class="col-2">
						<label>Payment Method</label>
					</div>
					<div class="col-4">
						<select class="form-control" th:field="*{paymentMethod}" id="paymentMethod">
							<option selected value="">Choose payment method</option>
							<option th:value="Cash">Cash</option>
							<option th:value="PAYTM">PAYTM</option>
							<option th:value="GooglePay">GooglePay</option>
							<option th:value="PhonePe">PhonePe</option>
							<option th:value="UPI">UPI</option>
							<option th:value="OnlineBankTransfer">Online Bank Transfer</option>
							<option th:value="CreditCard">Credit Card</option>
							<option th:value="DebitCard">Debit Card</option>
							<option th:value="Others">Others</option>
						</select>
					</div>
					
					
					<div class="col-2">
						<label>Fully Paid</label>
					</div>
					<div class="col-4 form-check form-switch mt-2">
						<input class="form-control form-check-input" type="checkbox" th:field="*{fullyPaid}" id="fullyPaid">
					</div>
					
				</div>
				
				<input type="hidden" th:field="*{patientId}" th:value="${patient}">
			</div>
			
			<!-- Enquiry related fields -->
			
			<div class="row mt-4 mb-2">
				<div class="col">
					<h5>Treatment Initial Enquiry</h5>
				</div>
			</div>
			
			
			<!--  ************ SPIRIT ************ -->
			<div class="row mt-2 mb-2">
				<div class="col">
					<b>Spirit</b>
				</div>
			</div>
			
			<div class="row mb-3">
				<div class="col-2">
					<label>Complexion</label>
				</div>
				<div class="col-4">
					<input type="text" class="form-control" th:field="*{complexion}">
				</div>
				
				<div class="col-2">
					<label>Eyes</label>
				</div>
				<div class="col-4">
					<input type="text" class="form-control" th:field="*{eyes}">
				</div>
			</div>
			
			
			<div class="row mb-3">
				<div class="col-2">
					<label>State of mind</label>
				</div>
				<div class="col-4">
					<input type="text" class="form-control" th:field="*{stateOfMind}">
				</div>
			</div>
			
			
			<!-- ************ APPEARANCE ********* -->
			<div class="row mt-4 mb-2">
				<div class="col">
					<b>Appearance</b>
				</div>
			</div>
			
			
			<div class="row mb-3">
				<div class="col-2">
					<label>Movement And Tranquility</label>
				</div>
				<div class="col-1">
					<input type="checkbox" class="form-control form-check-input" th:field="*{movementAndTranquility}">
				</div>
				
				<div class="col-1">
					<label>Cough And Panting</label>
				</div>
				<div class="col-1">
					<input type="checkbox" class="form-control form-check-input" th:field="*{coughAndPanting}">
				</div>
				
				<div class="col-1">
					<label>Convulsive Spasm</label>
				</div>
				<div class="col-1">
					<input type="checkbox" class="form-control form-check-input" th:field="*{convulsiveSpasm}">
				</div>
				
				<div class="col-1">
					<label>Paralysis</label>
				</div>
				<div class="col-1">
					<input type="checkbox" class="form-control form-check-input" th:field="*{paralysis}">
				</div>
				
				<div class="col-2">
					<label>Violent Movements For Limbs</label>
				</div>
				<div class="col-1">
					<input type="checkbox" class="form-control form-check-input" th:field="*{violentMovementsForLimbs}">
				</div>
			</div>
			
			
			<div class="row mb-3">
				<div class="col-2">
					<label>Chest Abdomen Pattern</label>
				</div>
				<div class="col-1">
					<input type="checkbox" class="form-control form-check-input" th:field="*{chestAbdomenPattern}">
				</div>
				
				<div class="col-1">
					<label>Delirious</label>
				</div>
				<div class="col-1">
					<input type="checkbox" class="form-control form-check-input" th:field="*{delirious}">
				</div>
				
				<div class="col-1">
					<label>Overweight</label>
				</div>
				<div class="col-1">
					<input type="checkbox" class="form-control form-check-input" th:field="*{overweight}">
				</div>
				
				<div class="col-1">
					<label>Skinny</label>
				</div>
				<div class="col-1">
					<input type="checkbox" class="form-control form-check-input" th:field="*{skinny}">
				</div>
				
				<div class="col-1">
					<label>Face</label>
				</div>
				<div class="col-1">
					<input type="checkbox" class="form-control form-check-input" th:field="*{face}">
				</div>
			</div>
			
			
			
			<!-- ************ LISTENING VOICE ********* -->
			<div class="row mt-4 mb-2">
				<div class="col">
					<b>Listening Voice</b>
				</div>
			</div>
			
			<div class="row mb-3">
				<div class="col-2">
					<label>Delirious Speak</label>
				</div>
				<div class="col-1">
					<input type="checkbox" class="form-control form-check-input" th:field="*{deliriousSpeak}">
				</div>
				
				<div class="col-2">
					<label>mumbling</label>
				</div>
				<div class="col-1">
					<input type="checkbox" class="form-control form-check-input" th:field="*{mumbling}">
				</div>
				
				<div class="col-2">
					<label>Loss Of Voice</label>
				</div>
				<div class="col-1">
					<input type="checkbox" class="form-control form-check-input" th:field="*{lossOfVoice}">
				</div>
			</div>
			
			
			<!-- ************ RESPIRATION ********* -->
			<div class="row mt-4 mb-2">
				<div class="col">
					<b>Respiration</b>
				</div>
			</div>
			
			<div class="row mb-3">
				<div class="col-2">
					<label>BreathlessNess</label>
				</div>
				<div class="col-1">
					<input type="checkbox" class="form-control form-check-input" th:field="*{breathlessNess}">
				</div>
				
				<div class="col-2">
					<label>Wheezing</label>
				</div>
				<div class="col-1">
					<input type="checkbox" class="form-control form-check-input" th:field="*{wheezing}">
				</div>
				
				<div class="col-2">
					<label>Shortness Of Breath</label>
				</div>
				<div class="col-1">
					<input type="checkbox" class="form-control form-check-input" th:field="*{shortnessOfBreath}">
				</div>
				
				<div class="col-2">
					<label>Panting</label>
				</div>
				<div class="col-1">
					<input type="checkbox" class="form-control form-check-input" th:field="*{panting}">
				</div>
			</div>
			
			
			<!-- ************ SMELLING ********* -->
			<div class="row mt-4 mb-2">
				<div class="col">
					<b>Smelling</b>
				</div>
			</div>
			
			
			<div class="row mb-3">
				<div class="col-2">
					<label>Breath Odor</label>
				</div>
				<div class="col-4">
					<input type="text" class="form-control" th:field="*{breathOdor}">
				</div>
				
				<div class="col-2">
					<label>Sweat Odor</label>
				</div>
				<div class="col-4">
					<input type="text" class="form-control" th:field="*{sweatOdor}">
				</div>
			</div>
			
			<div class="row mb-3">
				<div class="col-2">
					<label>Odor Under Armpit</label>
				</div>
				<div class="col-1">
					<input type="checkbox" class="form-control form-check-input" th:field="*{odorUnderArmpit}">
				</div>
			</div>
			
			<!-- ************ FOOD AND APPETITE ********* -->
			<div class="row mt-4 mb-2">
				<div class="col">
					<b>Food and Appetite</b>
				</div>
			</div>
			
			<div class="row mb-3">
				<div class="col-2">
					<label>Poor Appetite</label>
				</div>
				<div class="col-1">
					<input type="checkbox" class="form-control form-check-input" th:field="*{poorAppetite}">
				</div>
				
				<div class="col-2">
					<label>Lack Of Appetite With Fullness Of Stomach</label>
				</div>
				<div class="col-1">
					<input type="checkbox" class="form-control form-check-input" th:field="*{lackOfAppetiteWithFullnessOfStomach}">
				</div>
				
				<div class="col-2">
					<label>Hunger With No Desire To Eat</label>
				</div>
				<div class="col-1">
					<input type="checkbox" class="form-control form-check-input" th:field="*{hungerWithNoDesireToEat}">
				</div>
				
				<div class="col-2">
					<label>Get Hungry Easily</label>
				</div>
				<div class="col-1">
					<input type="checkbox" class="form-control form-check-input" th:field="*{getHungryEasily}">
				</div>
			</div>
			
			<div class="row mb-3">
				<div class="col-2">
					<label>Taste</label>
				</div>
				<div class="col-4">
					<input type="text" class="form-control" th:field="*{taste}">
				</div>
			
				<div class="col-2">
					<label>Inability To Feel Taste</label>
				</div>
				<div class="col-4">
					<input type="checkbox" class="form-control form-check-input" th:field="*{inabilityToFeelTaste}">
				</div>	
			</div>
			
			
			<!-- ************ FOOD AND APPETITE ********* -->
			<div class="row mt-4 mb-2">
				<div class="col">
					<b>Chills and Fever</b>
				</div>
			</div>
			
			<div class="row mb-3">
				<div class="col-2">
					<label>Pattern Of Exterior Interior Or Both</label>
				</div>
				<div class="col-1">
					<input type="checkbox" class="form-control form-check-input" th:field="*{patternOfExteriorInteriorOrBoth}">
				</div>
				
				<div class="col-2">
					<label>Alternate Chills Or Fever</label>
				</div>
				<div class="col-1">
					<input type="checkbox" class="form-control form-check-input" th:field="*{alternateChillsOrFever}">
				</div>
				
				<div class="col-2">
					<label>Persistent High Fever</label>
				</div>
				<div class="col-1">
					<input type="checkbox" class="form-control form-check-input" th:field="*{persistentHighFever}">
				</div>
				
				<div class="col-2">
					<label>Middle fever</label>
				</div>
				<div class="col-1">
					<input type="checkbox" class="form-control form-check-input" th:field="*{middlefever}">
				</div>
			</div>
			
			<div class="row mb-3">
				<div class="col-2">
					<label>Tidal Fever</label>
				</div>
				<div class="col-1">
					<input type="checkbox" class="form-control form-check-input" th:field="*{tidalFever}">
				</div>
				
				<div class="col-2">
					<label>Irritable Vexing Fever</label>
				</div>
				<div class="col-1">
					<input type="checkbox" class="form-control form-check-input" th:field="*{irritableVexingFever}">
				</div>
			</div>
			
			
			
			<!-- ************ STOOL AND URINE ********* -->
			<div class="row mt-4 mb-2">
				<div class="col">
					<b>Stool and Urine</b>
				</div>
			</div>
			
			<div class="row mb-3">
				<div class="col-2">
					<label>Stool Consistency</label>
				</div>
				<div class="col-4">
					<input type="text" class="form-control" th:field="*{stoolConsistency}">
				</div>
				
				<div class="col-2">
					<label>Urine</label>
				</div>
				<div class="col-4">
					<input type="text" class="form-control" th:field="*{urine}">
				</div>
			</div>
			
			<div class="row mb-3">
				<div class="col-2">
					<label>Flatulency</label>
				</div>
				<div class="col-1">
					<input type="checkbox" class="form-control form-check-input" th:field="*{flatulency}">
				</div>
				
				<div class="col-2">
					<label>Prolapse Anus</label>
				</div>
				<div class="col-1">
					<input type="checkbox" class="form-control form-check-input" th:field="*{prolapseAnus}">
				</div>
				
				<div class="col-2">
					<label>Hemorrhoids</label>
				</div>
				<div class="col-1">
					<input type="checkbox" class="form-control form-check-input" th:field="*{hemorrhoids}">
				</div>
			</div>
			
			
			
			<!-- ************ SWEATING AND PERSPIRATION ********* -->
			<div class="row mt-4 mb-2">
				<div class="col">
					<b>Sweating and Perspiration</b>
				</div>
			</div>
			
			<div class="row mb-3">
				<div class="col-2">
					<label>Spontaneous Sweating</label>
				</div>
				<div class="col-1">
					<input type="checkbox" class="form-control form-check-input" th:field="*{spontaneousSweating}">
				</div>
				
				<div class="col-2">
					<label>Night Sweating</label>
				</div>
				<div class="col-1">
					<input type="checkbox" class="form-control form-check-input" th:field="*{nightSweating}">
				</div>
				
				<div class="col-2">
					<label>Yellow Sweating Stain On Clothes</label>
				</div>
				<div class="col-1">
					<input type="checkbox" class="form-control form-check-input" th:field="*{yellowSweatingStainOnClothes}">
				</div>
				
				<div class="col-2">
					<label>Expiring Sweating</label>
				</div>
				<div class="col-1">
					<input type="checkbox" class="form-control form-check-input" th:field="*{expiringSweating}">
				</div>
			</div>
			
			
			<!-- ************ INSOMNIA ********* -->
			<div class="row mt-4 mb-2">
				<div class="col">
					<b>Insomnia</b>
				</div>
			</div>
			
			
			<div class="row mb-3">
				<div class="col-2">
					<label>Difficult To Sleep</label>
				</div>
				<div class="col-1">
					<input type="checkbox" class="form-control form-check-input" th:field="*{difficultToSleep}">
				</div>
				
				<div class="col-2">
					<label>Sleep But Keep Waking Up</label>
				</div>
				<div class="col-1">
					<input type="checkbox" class="form-control form-check-input" th:field="*{sleepButKeepWakingUp}">
				</div>
				
				<div class="col-2">
					<label>Fear To Fall Asleep</label>
				</div>
				<div class="col-1">
					<input type="checkbox" class="form-control form-check-input" th:field="*{fearToFallSleep}">
				</div>
				
				<div class="col-2">
					<label>Sleep Something PullBack</label>
				</div>
				<div class="col-1">
					<input type="checkbox" class="form-control form-check-input" th:field="*{sleepSomethingPullBack}">
				</div>
			</div>
			
			<div class="row mb-3">
				<div class="col-2">
					<label>Sleep But Wakeup In Middle Of Night SameTime</label>
				</div>
				<div class="col-1">
					<input type="checkbox" class="form-control form-check-input" th:field="*{sleepButWakeupInMiddleNightSameTime}">
				</div>
				
				<div class="col-2">
					<label>Too Many Thoughts Before Sleep</label>
				</div>
				<div class="col-1">
					<input type="checkbox" class="form-control form-check-input" th:field="*{tooManyThoughtsBeforeSleep}">
				</div>
				
				<div class="col-2">
					<label>Too Much Dreams</label>
				</div>
				<div class="col-1">
					<input type="checkbox" class="form-control form-check-input" th:field="*{tooMuchDreams}">
				</div>
				
			</div>
			
			<div class="row mb-3">
				<div class="col-2">
					<label>Dreams About What</label>
				</div>
				<div class="col-10">
					<input type="text" class="form-control" th:field="*{dreamsAboutWhat}">
				</div>
			</div>
			
			
			<!-- ************ TINNITUS ********* -->
			<div class="row mt-4 mb-2">
				<div class="col">
					<b>Tinnitus</b>
				</div>
			</div>
			
			
			<div class="row mb-3">
				<div class="col-2">
					<label>Loud High Pitch</label>
				</div>
				<div class="col">
					<input type="checkbox" class="form-control form-check-input" th:field="*{loudHighPitch}">
				</div>
				
				<div class="col-2">
					<label>Low Pich Noise</label>
				</div>
				<div class="col">
					<input type="checkbox" class="form-control form-check-input" th:field="*{lowPichNoise}">
				</div>
				
				<div class="col-2">
					<label>Deafness Or Hearing Impairment</label>
				</div>
				<div class="col">
					<input type="checkbox" class="form-control form-check-input" th:field="*{deafnessOrHearingImpairment}">
				</div>
				
				<div class="col-1">
					<label>Red PainFull Eyes</label>
				</div>
				<div class="col">
					<input type="checkbox" class="form-control form-check-input" th:field="*{redPainFullEyes}">
				</div>
				
				<div class="col-2">
					<label>Blurry Cloudy Vision</label>
				</div>
				<div class="col">
					<input type="checkbox" class="form-control form-check-input" th:field="*{blurryCloudyVision}">
				</div>
			</div>
			
			
			<!-- ************ MENSTURATION ********* -->
			<div class="row mt-4 mb-2">
				<div class="col">
					<b>Mensturation</b>
				</div>
			</div>
			
			<div class="row mb-3">
				<div class="col-2">
					<label>Menstural Disorder</label>
				</div>
				<div class="col">
					<input type="checkbox" class="form-control form-check-input" th:field="*{mensturalDisorder}">
				</div>
				
				<div class="col-2">
					<label>Menstural Pain</label>
				</div>
				<div class="col">
					<input type="checkbox" class="form-control form-check-input" th:field="*{mensturalPain}">
				</div>
				
				<div class="col-2">
					<label>Dysmenorrhea</label>
				</div>
				<div class="col">
					<input type="checkbox" class="form-control form-check-input" th:field="*{dysmenorrhea}">
				</div>
				
				<div class="col-1">
					<label>Leucorrhea</label>
				</div>
				<div class="col">
					<input type="checkbox" class="form-control form-check-input" th:field="*{leucorrhea}">
				</div>
				
				<div class="col-2">
					<label>VaginalDischarge</label>
				</div>
				<div class="col">
					<input type="checkbox" class="form-control form-check-input" th:field="*{vaginalDischarge}">
				</div>
			</div>
			
			
			<div class="row mb-3">
				<div class="col-2">
					<label>Frequency</label>
				</div>
				<div class="col-4">
					<input type="text" class="form-control" th:field="*{frequency}">
				</div>
				
				<div class="col-2">
					<label>Mens Blood Quantity</label>
				</div>
				<div class="col-4">
					<input type="text" class="form-control" th:field="*{mensBloodQuantity}">
				</div>
			</div>
			
			<div class="row mb-3">
				<div class="col-2">
					<label>Mens Blood Color</label>
				</div>
				<div class="col-4">
					<input type="text" class="form-control" th:field="*{mensBloodColor}">
				</div>
				
				<div class="col-2">
					<label>Mens Blood Smell</label>
				</div>
				<div class="col-4">
					<input type="text" class="form-control" th:field="*{mensBloodSmell}">
				</div>
			</div>
			
			
			<!-- ************ OTHERS ********* -->
			<div class="row mt-4 mb-2">
				<div class="col">
					<b>Others</b>
				</div>
			</div>
			
			<div class="row mb-3">
				<div class="col-2">
					<label>Pain</label>
				</div>
				<div class="col-4">
					<input type="text" class="form-control" th:field="*{pain}">
				</div>
				
				<div class="col-2">
					<label>Dizziness</label>
				</div>
				<div class="col-1">
					<input type="checkbox" class="form-control  form-check-input" th:field="*{dizziness}">
				</div>
			</div>
			
			
			
			
			
			
			
			
			
			
			<div class="row mb-5">
				<div class="col-6">
					<button type="submit" class="btn btn-secondary btn-lg" onclick="formCheckBeforeSubmit()">Submit</button>
				</div>
			</div>
		</form>
	</div>
</body>
</html>