<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title th:text="#{healing.house.title}"></title>
	<link rel="stylesheet" th:href="@{/cssandjs/bootstrap.min.css}"></link>
	<script type="text/javascript" th:src="@{/cssandjs/bootstrap.bundle.min.js}"></script>
	<style>
	    .error {
	        color: red;
	    }
	</style>
</head>
<body>
	<div th:insert="~{/fragments/header :: header}"></div>
	<div class="container text-center">
		<h2>Edit Patient</h2>
		<a th:href="@{/patients/view_patients}" class="btn btn-primary">All Patients</a>
		<hr/>
		<form th:action="@{/patients/edit_patient}" th:object="${patient}" th:method="POST">
			ID <input type="text" th:field="*{id}" readonly="readonly"/> <br>
			Name <input type="text" th:field="*{name}"/> 
				<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:errorClass="error" /><br>
			Date of Birth <input type="date" th:field="*{dateOfBirth}"/><br>
			Mobile <input type="text" th:field="*{mobile}"/><br>
			Email <input type="text" th:field="*{email}"/><br>
			First Visit Date <input type="date" th:field="*{firstVisitDate}"/><br>
			Address Line 1 <input type="text" th:field="*{addressLine1}"/><br>
			Address Line 1 <input type="text" th:field="*{addressLine2}"/><br>
			City <input type="text" th:field="*{city}"/><br>
			State <input type="text" th:field="*{state}"/><br>
			Country <input type="text" th:field="*{country}"/><br>
			Remarks <textarea rows="4" cols="30" th:field="*{remarks}"/><br>
			<button type="submit" class="btn btn-secondary">Submit</button>
		</form>
	</div>
</body>
</html>