<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title th:text="#{healing.house.title}"></title>
	<link rel="stylesheet" th:href="@{/cssandjs/bootstrap.min.css}"></link>
	<script type="text/javascript" th:src="@{/cssandjs/bootstrap.bundle.min.js}"></script>
	<link th:href="@{/cssandjs/datatables.min.css}" rel="stylesheet">
	<script th:src="@{/cssandjs/datatables.min.js}"></script>
	<script type="text/javascript">
	
		$(document).ready(function(){
			$("#patient-table").DataTable();
		})
		
		function deleteConfirmation(treatmentId, treatmentPackageName, treatmentStartDate){
			if(confirm('Are you sure you want to delete treatment package "'+treatmentPackageName+'", having id "'+treatmentId+'" that started on "'+treatmentStartDate+'"?')){
				return true;
			}else{
				event.preventDefault();
			}
		}
	
	</script>
</head>
<body>
	<div th:insert="~{/fragments/header :: header}"></div>
	<div class="container text-center mb-5">
		<a th:href="@{'/patients/edit/'+${patient.id}}">
				<img th:src="@{/images/edit.jpg}" width="30" height="30" th:alt="edit">
		</a>
		<h2 th:text="${patient.name}"></h2>
		
		<h6>Patient ID : <span th:text="${patient.id}"/></h6>
		<span th:text="${patient.addressLine1}+' '+${patient.addressLine2}+' '+${patient.city}+' '+${patient.state}+' '+${patient.country}"/>
		<div class="row alert alert-secondary mt-2 text-center">
			<div class="col-2" th:text="'BirthDate: '+${patient.dateOfBirth != null? patient.dateOfBirth:''}"></div>
			<div class="col-2" th:text="'Mobile: '+${patient.mobile}"></div>
			<div class="col-3" th:text="'Email: '+${patient.email}"></div>
			<div class="col-3" th:text="'FoundUsBy: '+${patient.howDidYouFindUs}"></div>
			<div class="col-2" th:text="'RegistrationDate: '+${patient.firstVisitDate}"></div>
		</div>
		<hr/>
		
		<a th:href="@{/treatment/select_treatment_form/{patient_id}(patient_id=${patient.id})}" class="btn btn-primary mb-2">New Treatment</a>
		<h4>All Treatments</h4>
		<table class="table table-striped text-start mt-2" id="patient-table">
			<thead>
				<tr>
					<th class="col-1">ID</th>
					<th class="col-1">Package</th>
					<th class="col-1">Start Date</th>
					<th class="col-1">Price</th>
					<th class="col-1">Amount Paid</th>
					<th class="col-1">Fully Paid</th>
					<th class="col-1">Total Sessions</th>
					<th class="col-1">Completed Sessions</th>
					
					<th class="col-1">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="treatment: ${allTreatments}" >
					<td class="col-1" th:text="${treatment.id}"></td>
					<td class="col-1" th:text="${treatment.pkg.name}"></td>
					<td class="col-1" th:text="${#temporals.format(treatment.startDate,'dd-MMM-yyyy HH:mm')}"></td>
					<td class="col-1" th:text="${treatment.price}"></td>
					<td class="col-1" th:text="${treatment.amountPaid}"></td>
					
					<td class="col-1">
						<span th:if="${treatment.fullyPaid == true}">YES</span>
						<span th:if="${treatment.fullyPaid == false}">NO</span>
						
					</td>
					<!-- <td class="col-1" th:text="${treatment.totalSessions}"></td>  -->
					<td class="col-1">
						<a class="btn btn-info" th:href="@{'/sessions/view/'+${treatment.id}}" th:text="${treatment.totalSessions}"></a>
					</td>
					<td class="col-1" th:text="${treatment.completedSessions}"></td>
					
					
					<td class="col-2">
						<a th:href="@{'/treatment/edit/'+${patient.id}+'/'+${treatment.id}}" class="btn btn-info">Edit</a>
						<a th:href="@{'/treatment/delete/'+${patient.id}+'/'+${treatment.id}}" class="btn btn-danger ml-2" th:onclick="deleteConfirmation([[${treatment.id}]], [[${treatment.pkg.name}]],  [[${#temporals.format(treatment.startDate,'dd-MMM-yyyy HH:mm')}]])">Delete</a>
					</td>
				</tr>
			</tbody>
			
		</table>
		
	</div>
</body>
</html>